@import url(https://fonts.googleapis.com/css?family=Inter:100,200,300,regular,500,600,700,800,900);
@import url(https://fonts.googleapis.com/css?family=Playfair+Display:regular,500,600,700,800,900,italic,500italic,600italic,700italic,800italic,900italic);
@import url(https://fonts.googleapis.com/css?family=Mulish:200,300,regular,500,600,700,800,900,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);
@import url('styles/burger.css');
@import url('styles/header.css');
@import url('styles/hero.css');
@import url('styles/article.css');
@import url('styles/destinations.css');
@import url('styles/footer.css');
body {
    margin: 0 auto;
    padding: 0;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    color: #000000;
    background: #FFFFFF;
    /*max-width: 1300px;*/
}

@media screen and (max-width: 320px) {
    body {
        font-size: 14px;
    }
    header {
        height: auto;
        padding: 20px 20px;
    }
    .nav-list {
        flex-direction: column;
    }
    .nav-item, .nav-button1, .nav-button2 {
        padding: 10px 0;
    }
    .hero {
        height: auto;
        flex-direction: column;
        padding-top: 0;
    }
    .hero__text {
        text-align: center;
        max-width: 100%;
        padding: 20px;
    }
    .hero__title {
        font-size: 32px;
        padding-bottom: 20px;
    }
    .hero_subtitle {
        font-size: 18px;
        padding-bottom: 10px;
    }
    .hero__img img {
        display: none;
    }
    .hero__img-mobile img {
        padding: 50px 0 30px 0;
        max-width: 100%;
        height: auto;
        display: block;
    }
    #left_u {
        margin: 0 0 10px 0;
    }
    #right_u {
        margin: 0 0 10px 0;
    }
    #left_l {
        margin: 0 0 10px 0;
    }
    #right_l {
        margin: 0 0 25px 0;
    }
    .slection {
        padding: 20px 0;
    }
    select {
        width: 100%;
    }
    .hero__button {
        max-width: 100%;
    }
    
    .article-container {
        height: auto;
    }
    .article {
        margin-top: 40px;
        flex-direction: column;
        padding: 20px;
        height: 640px;
    }
    .article__text {
        padding: 20px 0;
        text-align: center;
    }
    .article__title {
        font-size: 28px;
        line-height: 40px;
    }
    .article__subtitle {
        font-size: 16px;
        line-height: 26px;
    }
    .article__button {
        max-width: 100%;
    }
    .article-img {
        width: 100%;
        height: auto;
    }
    .destinations {
        height: auto;
        padding: 20px;
    }
    .destinations__title {
        font-size: 28px;
        line-height: 40px;
    }
    .destinations__subtitle {
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        line-height: normal;
    }
    .img-list {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .img-list-item:not(:last-child) { 
        margin-right: 0;
        margin-bottom: 10px;  
    }
    .footer-container {
        height: auto;
    }
    .upper-bar {
        flex-direction: column;
        align-items: center;
        padding: 20px;
    }
    .upper-bar-text {
        text-align: center;
        line-height: 26px;
    }
    .footer__line {
        margin-top: 20px;
    }
    .icon-list {
        flex-direction: row;
        justify-content: center;
        padding: 40px;
    }
    .icon-list li:not(:last-child) { 
        margin-right: 10%;
    }
    .burger-button {
        display: block;
    }

    .nav-bar {
        display: none;
    }

    .mobile-menu.active {
        display: block;
    }

    .burger-button.active .burger-line:nth-child(1) {
        transform: rotate(-45deg) translate(-5px, 6px);
    }

    .burger-button.active .burger-line:nth-child(2) {
        opacity: 0;
    }

    .burger-button.active .burger-line:nth-child(3) {
        transform: rotate(45deg) translate(-5px, -6px);
    }
}


@media screen and (min-width: 3840px) {
    header {
        max-width: 2300px;
    }
    .nav-item {
        margin-right: 100px;
    }
    .nav-button1 {
        margin-right: 70px;
    }
    .hero {
        max-width: 2300px;
    }
    .hero__img img {
        scale: 1.3;
    }
    .article {
        max-width: 2300px;
    }
    .destinations {
        max-width: 2200px;
    }
    .img-list-item:not(:last-child) { 
        margin-right: 17.43%;
    }
    footer {
        max-width: 2300px;
    }
    .icon-list li:not(:last-child) { 
        margin-right: 22.3%;
    }
}

